<%= form_for(@annoucement) do |f| %>
  <% if @annoucement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annoucement.errors.count, "error") %> prohibited this annoucement from being saved:</h2>

      <ul>
      <% @annoucement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<div>
     <%@society = Society.where(:id => params[:socid]).first%>
      <%=@society.name%>
      <%=@society.id%>
<%=f.hidden_field :society_id, :value => @society.id %>
</div>
<div>
  <%@event = Event.where(:id => params[:eid]).first%>
<%=@event.title%>
<%=@event.id%>
<%=f.hidden_field :event_id, :value => @event.id %>
</div>
  <div class="field">
    <%= f.label "Message" %><br>
    <%= f.text_area :contents %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
