<h1>Editing annoucement</h1>

<%= form_for(@annoucement) do |f| %>
  <% if @annoucement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annoucement.errors.count, "error") %> prohibited this annoucement from being saved:</h2>

      <ul>
      <% @annoucement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :contents %><br>
    <%= f.text_area :contents %>
</div>

<div class="actions">
   	<%= f.submit %>
</div>

<% end %>

<%= link_to 'Show', @annoucement %> |
<%= link_to 'Back', annoucements_path %>
