<h1>Listing annoucements</h1>

<table>
  <tbody>
    <% @annoucements.each do |annoucement| %>
      <tr>
        
        <th>Event:</th><td><%= annoucement.event.title %></td>
        <tr></tr>
        <th>hosted by:</th><td><%= annoucement.society.name %></td>
        <tr></tr>
        <th>Message:</th><td><%= annoucement.contents %></td>
        <tr></tr>
        <tr></tr>
        <td><%= link_to 'Show', annoucement %></td>
        <td><%= link_to 'Edit', edit_annoucement_path(annoucement) %></td>
        <td><%= link_to 'Destroy', annoucement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcement', new_annoucement_path %>
