<%= form_for(@societynetwork) do |f| %>
  <% if @societynetwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@societynetwork.errors.count, "error") %> prohibited this societynetwork from being saved:</h2>

      <ul>
      <% @societynetwork.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :society_id %><br>
    <%= f.number_field :society_id %>
  </div>
  <div class="field">
    <%= f.label :network_id %><br>
    <%= f.number_field :network_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
